<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Scheduler</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
  <script src="/js/views/courseDisplay.js"></script>
</head>

<body>

  {{> nav}}

  {{{body}}}

  {{> scripts}}

</body>

</html>
