<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
  <script src="/js/views/main_view.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
</head>

<body>
  <div class=container>
    <a href="/">
      <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">schedule</h1>
    </a>
  </div>

  <div class=container>

    <div class=container><form method="get" action="/api/catalog/query"><div class="form-group">

          <div class="row" style="padding-bottom:.5cm" id="keywordsearch">
            <input type="text" placeholder="Search by keyword" class="form-control input-md" name="description">
          </div>

          <div class="row" style="padding-bottom:.5cm">
            <input type="text" placeholder="Search by professor" class="form-control input-md" name="instructor">
          </div>


          <div class="row"><div class="form-group">
            <form role="search" method="get" action="/api/catalog/query">
              <select class="form-control" name="location" id="loc_select">
                <option value="">Any Location</option>
                <option value="ADK">Adirondack Coltrane Lounge</option>
                <option value="ATA">Atwater A</option>
                <option value="ATD">Atwater Dining</option>
                <option value="AXN">Axinn Center</option>
                <option value="AXT">Twilight Hall</option>
                <option value="BR_LOAF">Bread Loaf</option>
                <option value="CHT">Chateau</option>
                <option value="LIB">Davis Family Library</option>
                <option value="FIC">Freeman International Center</option>
                <option value="GFD">Gifford</option>
                <option value="HLD">Franklin Environmental Center</option>
                <option value="HPB">Hepburn Hall</option>
                <option value="JHN">Johnson</option>
                <option value="KYN">Peterson Family Athletic Complex</option>
                <option value="LAF">LaForce</option>
                <option value="GFD">Gifford</option>
                <option value="MBH">McCardell Bicentennial Hall</option>
                <option value="MCA">Mahaney Center for the Arts</option>
                <option value="MFH">Memorial Field House</option>
                <option value="MNR">Munroe</option>
                <option value="OCH">Old Chapel</option>
                <option value="PRS">Pearsons</option>
                <option value="RAJ">Robert A. Jones</option>
                <option value="RCD">Ross Seminar Room</option>
                <option value="SDL">Sunderland</option>
                <option value="VFH">Virtue Field House</option>
                <option value="WNS">Warner</option>
                <option value="WTH">Wright Theatre</option>
              </select></form>
            </div>
          </div>

          <div class="row" id=search_btn>
            <button class="btn btn-default" type="submit">Search</button>
          </div>

    </div></form></div>

    <div class=row id=body>

      <div class="col-sm-3">
        <div class="list-group departments-list" id=dept_list>
          <a class="list-group-item" id=&subject=AMST>American Studies</a>
          <a class="list-group-item" id=&subject=ARBC>Arabic</a></td>
          <a class="list-group-item" id=&subject=ART>Arts Division</a></td>
          <a class="list-group-item" id=&subject=BIOL>Biology</a></td>
          <a class="list-group-item" id=&subject=CHEM>Chemistry and Biochemistry</a></td>
          <a class="list-group-item" id=&subject=CHNS>Chinese</a></td>
          <a class="list-group-item" id=&subject=CLAS>Classics</a></td>
          <a class="list-group-item" id=&subject=CMLT>Comparative Literature</a></td>
          <a class="list-group-item" id=&subject=CSCI>Computer Science</a></td>
          <a class="list-group-item" id=&subject=CRWR>Creative Writing</a></td>
          <a class="list-group-item" id=&subject=DANC>Dance</a></td>
          <a class="list-group-item" id=&subject=ECON>Economics</a></td>
          <a class="list-group-item" id=&subject=EDST>Education Studies</a></td>
          <a class="list-group-item" id=&subject=ENAM>English and American Literatures</a></td>
          <a class="list-group-item" id=&subject=ENVS>Environmental Studies</a></td>
          <a class="list-group-item" id=&subject=FMMC>Film and Media Culture</a></td>
          <a class="list-group-item" id=&subject=FYSE>First Year Seminar</a></td>
          <a class="list-group-item" id=&subject=FREN>French</a></td>
          <a class="list-group-item" id=&subject=GSFS>Gender, Sexuality, and Feminist Studies</a></td>
          <a class="list-group-item" id=&subject=GEOG>Geography</a></td>
          <a class="list-group-item" id=&subject=GEOL>Geology</a></td>
          <a class="list-group-item" id=&subject=GRMN>German</a></td>
          <a class="list-group-item" id=&subject=GREK>Greek</a></td>
        </div>
      </div>

      <div class=col-md-9>
        <table class=list-group-horizontal align=center><tr id=req_list>
          <td class="list-group-item" align=center id=&requirements=AAL>AAL</td>
          <td class="list-group-item" align=center id=&requirements=EUR>EUR</td>
          <td class="list-group-item" align=center id=&requirements=WTR>WTR</td>
          <td class="list-group-item" align=center id=&requirements=ART>ART</td>
          <td class="list-group-item" align=center id=&requirements=HIS>HIS</td>
          <td class="list-group-item" align=center id=&requirements=PE>PE</td>
          <td class="list-group-item" align=center id=&requirements=CMP>CMP</td>
          <td class="list-group-item" align=center id=&requirements=LIT>LIT</td>
          <td class="list-group-item" align=center id=&requirements=PHL>PHL</td>
          <td class="list-group-item" align=center id=&requirements=CW>CW</td>
          <td class="list-group-item" align=center id=&requirements=LNG>LNG</td>
          <td class="list-group-item" align=center id=&requirements=SCI>SCI</td>
          <td class="list-group-item" align=center id=&requirements=DED>DED</td>
          <td class="list-group-item" align=center id=&requirements=NOR>NOR</td>
          <td class="list-group-item" align=center id=&requirements=SOC>SOC</td>
        </tr></table>
      </div>

      <div class=results-list id=courses style="height: 925px; width:875px"></div>

    <script data-main="js/main" src="/bower_components/requirejs/require.js"></script>
  </div>

</body>
</html>
