<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
  <script src="/js/views/main_view.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
</head>

<body>
  <div class=container>
    <a href="/">
      <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">schedule</h1>
    </a>
  </div>

  <div class=container>

    <div class=container><form method="get" action="/api/catalog/query"><div class="form-group">

          <div class="row" style="padding-bottom:.5cm" id="keywordsearch">
            <input type="text" placeholder="Search by keyword" class="form-control input-md" name="description">
          </div>

          <div class="row" style="padding-bottom:.5cm">
            <input type="text" placeholder="Search by professor" class="form-control input-md" name="instructor">
          </div>

          <div class="row"><div class="form-group">
            <form role="search" method="get" action="/api/catalog/query">
              <select class="form-control" name="location" id="loc_select">
                <option value="">Any Location</option>
                <option value="ADK">Adirondack Coltrane Lounge</option>
                <option value="ATA">Atwater A</option>
                <option value="ATD">Atwater Dining</option>
                <option value="AXN">Axinn Center</option>
                <option value="AXT">Twilight Hall</option>
                <option value="BR_LOAF">Bread Loaf</option>
                <option value="CHT">Chateau</option>
                <option value="LIB">Davis Family Library</option>
                <option value="FIC">Freeman International Center</option>
                <option value="GFD">Gifford</option>
                <option value="HLD">Franklin Environmental Center</option>
                <option value="HPB">Hepburn Hall</option>
                <option value="JHN">Johnson</option>
                <option value="KYN">Peterson Family Athletic Complex</option>
                <option value="LAF">LaForce</option>
                <option value="GFD">Gifford</option>
                <option value="MBH">McCardell Bicentennial Hall</option>
                <option value="MCA">Mahaney Center for the Arts</option>
                <option value="MFH">Memorial Field House</option>
                <option value="MNR">Munroe</option>
                <option value="OCH">Old Chapel</option>
                <option value="PRS">Pearsons</option>
                <option value="RAJ">Robert A. Jones</option>
                <option value="RCD">Ross Seminar Room</option>
                <option value="SDL">Sunderland</option>
                <option value="VFH">Virtue Field House</option>
                <option value="WNS">Warner</option>
                <option value="WTH">Wright Theatre</option>
              </select></form>
            </div>
          </div>

          <div class="row" id=search_btn>
            <button class="btn btn-default" type="submit">Search</button>
          </div>

    </div></form></div>

    <div class=row id=body>

      <div class="col-sm-3">
        <div class="list-group departments-list" style="height: 700px;" id=dept_list>
          <a class="list-group-item" id=AMST>American Studies</a>
          <a class="list-group-item" id=ARBC>Arabic</a></td>
          <a class="list-group-item" id=ART>Arts Division</a></td>
          <a class="list-group-item" id=BIOL>Biology</a></td>
          <a class="list-group-item" id=CHEM>Chemistry and Biochemistry</a></td>
          <a class="list-group-item" id=CHNS>Chinese</a></td>
          <a class="list-group-item" id=CLAS>Classics</a></td>
          <a class="list-group-item" id=CMLT>Comparative Literature</a></td>
          <a class="list-group-item" id=CSCI>Computer Science</a></td>
          <a class="list-group-item" id=CRWR>Creative Writing</a></td>
          <a class="list-group-item" id=DANC>Dance</a></td>
          <a class="list-group-item" id=ECON>Economics</a></td>
          <a class="list-group-item" id=EDST>Education Studies</a></td>
          <a class="list-group-item" id=ENAM>English and American Literatures</a></td>
          <a class="list-group-item" id=ENVS>Environmental Studies</a></td>
          <a class="list-group-item" id=FMMC>Film and Media Culture</a></td>
          <a class="list-group-item" id=FYSE>First Year Seminar</a></td>
          <a class="list-group-item" id=FREN>French</a></td>
          <a class="list-group-item" id=GSFS>Gender, Sexuality, and Feminist Studies</a></td>
          <a class="list-group-item" id=GEOG>Geography</a></td>
          <a class="list-group-item" id=GEOL>Geology</a></td>
          <a class="list-group-item" id=GRMN>German</a></td>
          <a class="list-group-item" id=GREK>Greek</a></td>
        </div>
      </div>

      <div class=col-md-9>
        <table class=list-group-horizontal align=center><tr>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=AAL>AAL</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=EUR>EUR</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=WTR>WTR</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=ART>ART</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=HIS>HIS</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=PE>PE</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=CMP>CMP</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=LIT>LIT</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=PHL>PHL</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=CW>CW</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=LNG>LNG</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=SCI>SCI</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=DED>DED</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=NOR>NOR</a></td>
          <td class="list-group-item" align=center><a style="text-decoration: none; color:black" href=api/catalog/query?requirements=SOC>SOC</a></td>
        </tr></table>
      </div>

      <div id=courses></div>

    <script data-main="js/main" src="/bower_components/requirejs/require.js"></script>
  </div>

</body>
</html>
