<div id="main-app"></div>

{{> course-list-item.tmpl }}
{{> schedule-list.tmpl }}
{{> schedule-course-item.tmpl }}
{{> schedule-main.tmpl }}
{{> schedule.tmpl }}
{{> favorite.tmpl }}
{{> search.tmpl }}
{{> course-item.tmpl }}
{{> extracurricular-list-item.tmpl }}
{{> extracurriculars.tmpl }}

{{> scripts}}
