<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/courseDisplay.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  </head>

  <body>
    <div class=container>
      <a href="/">
        <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">Schedule Builder</h1>
      </a>
    </div>

    <div class=container>
      
      
      <div class="favorites">
        <h3 style="color:#333; font-weight:300; padding-bottom:.1cm;">My Favorites</h3>
        <a class="list-group-item" value="department"> CS 0202</a>
        <a class="list-group-item" value="department"> HIST 0318</a>
        <a class="list-group-item" value="department"> ECON 0250</a>
        <a class="list-group-item" value="department"> PSYC 0105</a>
        <a class="list-group-item" value="department"> AMST 0402</a>
        <a class="list-group-item" value="department"> CS 0412</a>

      </div>

      
      <div class="calDiv">
        <h3 style="color:#333; font-weight:300; padding-bottom:.1cm; margin-left: 30px;">New Calendar</h3>
        <div class="calendar">
          <hr style="position: relative; top: 30px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 70px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 108px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 148px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 186px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 226px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 264px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 303px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 342px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 381px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 421px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 460px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 498px; z-index: 99; margin-top: 0; margin-bottom: 0;">
          <hr style="position: relative; top: 538px; z-index: 99; margin-top: 0; margin-bottom: 0;">

          <div id = "monday" class = "calDay">Monday
            <div class="classObject" style="top: 70px; height: 60px;">HIST 0318</div>
            <div class="classObject" style="top: 148px; height: 60px;">PSYC 0105</div>


          </div>
          <div id = "tuesday" class = "calDay">Tuesday
            <div class="classObject" style="top: 108px; height: 60px;">CS 0412</div>
            <div class="classObject" style="top: 270px; height: 100px;">AMST 0402</div>

          </div>
          <div id = "wednesday" class = "calDay">Wednesday
            <div class="classObject" style="top: 70px; height: 60px;">HIST 0318</div>
            <div class="classObject" style="top: 148px; height: 60px;">PSYC 0105</div>
          </div>
          <div id = "thursday" class = "calDay">Thursday
            <div class="classObject" style="top: 108px; height: 60px;">CS 0412</div>
            <div class="classObject" style="top: 270px; height: 100px;">AMST 0402</div>

          </div>
          <div id = "friday" class = "calDay">Friday
            <div class="classObject" style="top: 70px; height: 60px;">HIST 0318</div>
            <div class="classObject" style="top: 148px; height: 60px;">PSYC 0105</div>
            <div class="classObject" style="top: 270px; height: 38px;">PSYC 0105</div>
          </div>

        </div>
        <div class = "calTimes">
          <span style="position: relative; top: 20px;">7am</span>
          <span style="position: relative; top: 40px;">8am</span>
          <span style="position: relative; top: 60px;">9am</span>
          <span style="position: relative; top: 80px;">10am</span>
          <span style="position: relative; top: 100px;">11am</span>
          <span style="position: relative; top: 120px;">12am</span>
          <span style="position: relative; top: 140px;">1pm</span>
          <span style="position: relative; top: 160px;">2pm</span>
          <span style="position: relative; top: 180px;">3pm</span>
          <span style="position: relative; top: 200px;">4pm</span>
          <span style="position: relative; top: 220px;">5pm</span>
          <span style="position: relative; top: 240px;">6pm</span>
          <span style="position: relative; top: 260px;">7pm</span>
          <span style="position: relative; top: 280px;">8pm</span>
          

        </div>

      </div>





        <div class=results-list id=courses style="height: 925px; width:875px"></div>

      <script data-main="js/main" src="/bower_components/requirejs/require.js"></script>

  </div>
  </body>
</html>
