<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/courseDisplay.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  </head>

  <body>
    <div class=container>
      <a href="/">
        <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">Schedule Builder</h1>
      </a>
    </div>

    <div class=container>
      
      
      <div class="favorites">
        <h3 style="color:#333; font-weight:300; padding-bottom:.1cm;">My Favorites</h3>
        <a class="list-group-item" value="department"> CS 0202</a>
        <a class="list-group-item" value="department"> HIST 0318</a>
        <a class="list-group-item" value="department"> ECON 0250</a>
        <a class="list-group-item" value="department"> PSYC 0105</a>
        <a class="list-group-item" value="department"> AMST 0402</a>
        <a class="list-group-item" value="department"> CS 0412</a>

      </div>

      
      <div class="calDiv">
        <h3 style="color:#333; font-weight:300; padding-bottom:.1cm;">New Calendar</h3>
        <div class="calendar">

        </div>

      </div>





        <div class=results-list id=courses style="height: 925px; width:875px"></div>

      <script data-main="js/main" src="/bower_components/requirejs/require.js"></script>

  </div>
  </body>
</html>
