<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" action="/signup" method="POST">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
      <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
      <p> Already have an account?
        <a href="/login" class="forgot-password">|Login</a>
      </p>
    </form>
  </div>
</div>
