.schedule .panel-body {
  padding: 0;
}

.name {
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  outline: none;
  max-width: 500px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.name:hover,
.name:focus {
  border-color: #ddd;
}

.name:focus {
  box-shadow: inset 0 0 1px #e5e5e5;
}

.name.not-replaced {
  color: #999;
  font-weight: 500;
  font-style: italic;
}

.schedule .day {
  width: 20%;
  float: left;
  position: relative;
}

.schedule .day:not(:last-child) {
  border-right: 1px solid #ddd;
}

.schedule .course-offering {
  position: absolute;
  top: 120px;
  padding: 15px;
  border: 1px solid steelblue;
}

.schedule .block-30-mins {
  height: 30px;
}

.schedule .block-30-mins:not(:last-child) {
  border-bottom: 1px dashed #eee;
}
