.schedule .panel-body {
  padding: 0;
}

.schedule-name {
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  outline: none;
  max-width: 500px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.schedule-name:hover,
.schedule-name:focus {
  border-color: #ddd;
}

.schedule-name:focus {
  box-shadow: inset 0 0 1px #e5e5e5;
}

.schedule-name.not-replaced {
  color: #999;
  font-weight: 500;
  font-style: italic;
}

.schedule .time-container {
  width: 15%;
  left: 0;
  top: 52px;
  position: absolute;
  padding-left: 19px;
}

.schedule .time-container > .time-block {
  color: #B2B2B2;
  font-size: 12px;
  height: 30px;
}

.schedule .day {
  width: calc(100% / 5);
  float: left;
  position: relative;
}

.schedule .day:not(:last-child) {
  border-right: 1px solid #ddd;
}

.schedule .course-offering {
  position: absolute;
  top: 120px;
  padding: 15px;
  border: 1px solid steelblue;
}

.schedule .block-30-mins {
  height: 30px;
}

.schedule .block-30-mins:not(:last-child) {
  border-bottom: 1px dashed #eee;
}
