<script type="text/template" id="course-item-template">

<div class="col-md-12">

  <div class="course-panel-heading"><table><tr>
    <td style="width:650px"><h5 style="color: white"> <%= title %> </h5></td>
    <td style="width:200px"><h6 style="color: white" align="right"> <%= code %> </h6></td>
  </tr></table></div>

  <div class="course-panel-body"><div class="row"><div class="col-lg-12"><table class="table">
    <tr> <td colspan="2"> <%= instructor %> </td> </tr>
    <tr> <td colspan="2"> <%= description %> </td> </tr>
    <tr> <td>Location: <%= location %> </td> <td>Schedule: <%= schedule %> </td> </tr>
    <tr> <td>Requirements: <%= requirements %> </td> <td>CRN: <%= crn %> </td> </tr>
    <tr> <td colspan="2" align="center"><a href="<%= href %>" class="btn btn-primary">Catalog Entry</a></td></tr>
  </table></div></div></div>

</div>

</script>
