<script type="text/template" id="course-item-template">

  <div class="">

    <div class="course-panel-heading"><table><tr>
      <td style="width:750px"><h5 style="color: white"> <%= title %> </h5></td>
      <td style="width:300px" align="left"><h6 style="color: white" align="right"> <%= code %> </h6></td>
      <td style="width:30px" align="right">
        <span id="favstar" class="<%= starClass %>"></span>
      </td>
    </tr></table></div>

    <div class="course-panel-body hidden"><div class="row"><div class="col-lg-12"><table class="table">
      <tr> <td colspan="2"> <%= instructor %> </td> </tr>
      <tr> <td colspan="2"> <%= description %> </td> </tr>
      <tr> <td>Location: <%= location %> </td> <td>Schedule: <%= schedule %> </td> </tr>
      <tr> <td>Requirements: <%= requirements %> </td> <td>CRN: <%= crn %> </td> </tr>
      <tr> <td colspan="2" align="center"><a href="<%= href %>" class="btn btn-primary" target="_blank">Catalog Entry</a></td></tr>
    </table></div></div></div>

  </div>
</script>
