<script type="text/template" id="extracurriculars-template">
  <div class="container">
    <h1>Extra-Curricular Activities</h1>
    <form class="form-inline">
      <div class="form-group">
        <label for="start_time">Start time: </label>
        <input type="time" class="form-control" id="start_time">
      </div>
      <div class="form-group">
        <label for="start_time">End time: </label>
        <input type="time" class="form-control" id="start_time">
      </div>
      <div class="form-group">
        <label for="start_time">Start date: </label>
        <input type="date" class="form-control" id="start_time">
      </div>
      <div class="form-group">
        <label for="start_time">End date: </label>
        <input type="date" class="form-control" id="start_time">
      </div>
      <div class="form-group">
        <label for="start_time">Days of the week: </label>
        <input type="text" class="form-control" id="start_time">
      </div>
    </form>
    <ul class="extracurriculars-list">
    </ul>
  </div>
</script>
