<script type="text/template" id="extracurricular-list-item-template">
  <button type="button" class="close extracurricular-delete" aria-label="Close">
    <span class="extracurricular-delete-text">Delete Extracurricular</span>
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="list-group-item-heading"><%- name %></h4>
  <p class="list-group-item-text"><%- days %> from <%- start_time %> to <%- end_time %></p>
  <p class="list-group-item-text">Starts <%- start_date %></p>
  <p class="list-group-item-text">Ends <%- end_date %></p>
</script>
