<script type="text/template" id ="favorite-template">
    <li class="course-item">
        <div>
            <h3><%= id %></h3>
            <p><%= code %></p>
            <span><%= type %></span>
        </div>
    </li>
</script>