<script type="text/template" id ="favorite-template">
    <li class="course-item">
        <div>
            <h3><%= course_title %></h3>
            <p><%= professor_name %></p>
            <span><%= time %></span>
        </div>
    </li>
</script>