<script type="text/template" id="schedule-main-template">
  <div class="schedule container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading panel-title">My Courses</div>
          <div class="list-group favorites">
          </div>
        </div>
      </div>
      <div class="col-md-9 schedule-container"></div>
    </div>
  </div>
</script>
