<script type="text/template" id="schedule-template">
  <input name="schedule-name" type="text" class="schedule-name not-replaced h4">
  <select name="schedule-term" class="schedule-term pull-right"></select>
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="time-container">
        {{#each timeArray}}
          <div class="time-block">{{this}}</div>
        {{/each}}
      </div>

      {{#each days}}
        <div class="day {{this}}">
          {{#times 29}}
            <div class="block-30-mins"></div>
          {{/times}}
        </div>
      {{/each}}
    </div>
  </div>
</script>
