<script type="text/template" id="schedule-main-template">
  <div class="schedule container">
    <div class="row">
      <div class="col-md-3">
        <h4>My Courses</h4>
        <div class="list-group favorites"></div>
      </div>
      <div class="col-md-9 schedule-container"></div>
    </div>
  </div>
</script>
