<script type="text/template" id="schedule-template">
  <div class="container schedule-view">

    <div class="row">
      <div class="col-sm-12 search-input">
        <input type="text" class="form-control" placeholder="Seach Courses" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="row">

      <ul id="schedule-course-list" class=" col-sm-4 course-list">
        <h2>Favorite Courses</h2>

        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
        <li class="course-item">
          <div>
            <h3>Course Title</h3>
            <p>Professor Name</p>
            <span>8:50 - 9:25</span>
          </div>
        </li>
      </ul>


      <div class="col-sm-8">
        <h2>Spring 2016</h2>
        <p></p>
        <div class="schedule-container" style="height: 700px;">
        </div>


      </div>
    </div>
  </div>
</script>
