<script type="text/template" id="schedule-template">
  <div class="schedule container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group favorites">
        </div>
      </div>
      <div class="col-md-9 schedule">
      </div>
    </div>
  </div>
</script>
