<script type="text/template" id="schedule-template">
  <input name="name" type="text" class="name not-replaced h4">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#each days}}
        <div class="day {{this}}">
          {{#times 18}}
            <div class="block-30-mins"></div>
          {{/times}}
        </div>
      {{/each}}
    </div>
  </div>
</script>
