<script type="text/template" id="schedule-course-block-template">
  <div class="schedule-course-block">
    <div class="schedule-course-block-title"><%- title %></div>
    <div class="schedule-course-block-times"><%- meeting.start_time %> to <%- meeting.end_time %></div>
  </div>
</script>
