<script type="text/template" id="schedule-template">
  <div class="container schedule-view">

    <div class="row">
      <div class="col-sm-12 search-input">
        <input type="text" class="form-control" placeholder="Seach Courses" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="row" id="favorite_courses">

      <ul id="courses" class=" col-sm-4 course-list">
        <h2>Favorite Courses</h2>

      </ul>


      <div class="col-sm-8">
        <h2>Spring 2016</h2>
        <p></p>
        <div class="schedule-container" style="height: 700px;">
        </div>


      </div>
    </div>
  </div>
</script>
