<script type="text/template" id="search-template">


  <div class="container">
    <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">Search</h1>

    <div class="form-group">


      <div class="row" style="padding-bottom:.5cm">
        <input type="text" placeholder="Search by keyword" class="form-control" id="description">
      </div>

      <div class="row" style="padding-bottom:.5cm">
        <input type="text" placeholder="Search by professor" class="form-control" id="instructor">

      </div>

      <div class="row">
          <select class="form-control" id="loc_select">
            <option class="list-group-item" value="location" id="location">Any Location</option>
            <option class="list-group-item" value="ADK" id="location">Adirondack Coltrane Lounge</option>
            <option class="list-group-item" value="ATA" id="location">Atwater A</option>
            <option class="list-group-item" value="ATD" id="location">Atwater Dining</option>
            <option class="list-group-item" value="AXN" id="location">Axinn Center</option>
            <option class="list-group-item" value="AXT" id="location">Twilight Hall</option>
            <option class="list-group-item" value="BR_LOAF" id="location">Bread Loaf</option>
            <option class="list-group-item" value="CHT" id="location">Chateau</option>
            <option class="list-group-item" value="LIB" id="location">Davis Family Library</option>
            <option class="list-group-item" value="FIC" id="location">Freeman International Center</option>
            <option class="list-group-item" value="GFD" id="location">Gifford</option>
            <option class="list-group-item" value="HLD" id="location">Franklin Environmental Center</option>
            <option class="list-group-item" value="HPB" id="location">Hepburn Hall</option>
            <option class="list-group-item" value="JHN" id="location">Johnson</option>
            <option class="list-group-item" value="KYN" id="location">Peterson Family Athletic Complex</option>
            <option class="list-group-item" value="LAF" id="location">LaForce</option>
            <option class="list-group-item" value="GFD" id="location">Gifford</option>
            <option class="list-group-item" value="MBH" id="location">McCardell Bicentennial Hall</option>
            <option class="list-group-item" value="MCA" id="location">Mahaney Center for the Arts</option>
            <option class="list-group-item" value="MFH" id="location">Memorial Field House</option>
            <option class="list-group-item" value="MNR" id="location">Munroe</option>
            <option class="list-group-item" value="OCH" id="location">Old Chapel</option>
            <option class="list-group-item" value="PRS" id="location">Pearsons</option>
            <option class="list-group-item" value="RAJ" id="location">Robert A. Jones</option>
            <option class="list-group-item" value="RCS" id="location">Ross Seminar Room</option>
            <option class="list-group-item" value="SDL" id="location">Sunderland</option>
            <option class="list-group-item" value="VFH" id="location">Virtue Field House</option>
            <option class="list-group-item" value="WNS" id="location">Warner</option>
            <option class="list-group-item" value="WTH" id="location">Wright Theatre</option>
          </select>
      </div>

      <div class="row" style="padding-bottom:.45cm">

        <table><tr><div class="form-group" id="day_select">
          <td width="90px"><input type="checkbox" id="schedule" value="Monday"> Monday </td>
          <td width="90px"><input type="checkbox" id="schedule" value="Tuesday"> Tuesday </td>
          <td width="110px"><input type="checkbox" id="schedule" value="Wednesday"> Wednesday </td>
          <td width="95px"><input type="checkbox" id="schedule" value="Thursday"> Thursday </td>
          <td width="90px"><input type="checkbox" id="schedule" value="Friday"> Friday </td>
        </div></tr></table>

        <table><tr><div class="form-group">
          <td><select class="form-control" id="start_time">
            <option class="list-group-item" value="12:30">12:20 a.m.</option>
          </select> </td>
          <td width="30px" align="center">to</td>
          <td> <select class="form-control" id="end_time">
            <option class="list-group-item" value="12:30">12:20 a.m.</option>
          </select></td>
        </tr></div></table>
      </div>

      <div class="row" id="body">

        <div class="col-sm-3">
          <div class="list-group departments-list" id="dept_list">
            <a class="list-group-item" value="AMST" id="subject">American Studies</a>
            <a class="list-group-item" value="ARBC" id="subject">Arabic</a></td>
            <a class="list-group-item" value="ART" id="subject">Arts Division</a></td>
            <a class="list-group-item" value="BIOL" id="subject">Biology</a></td>
            <a class="list-group-item" value="CHEM" id="subject">Chemistry and Biochemistry</a></td>
            <a class="list-group-item" value="CHNS" id="subject">Chinese</a></td>
            <a class="list-group-item" value="CLAS" id="subject">Classics</a></td>
            <a class="list-group-item" value="CMLT" id="subject">Comparative Literature</a></td>
            <a class="list-group-item" value="CSCI" id="subject">Computer Science</a></td>
            <a class="list-group-item" value="CRWR" id="subject">Creative Writing</a></td>
            <a class="list-group-item" value="DANC" id="subject">Dance</a></td>
            <a class="list-group-item" value="ECON" id="subject">Economics</a></td>
            <a class="list-group-item" value="EDST" id="subject">Education Studies</a></td>
            <a class="list-group-item" value="ENAM" id="subject">English and American Literatures</a></td>
            <a class="list-group-item" value="ENVS" id="subject">Environmental Studies</a></td>
            <a class="list-group-item" value="FMMC" id="subject">Film and Media Culture</a></td>
            <a class="list-group-item" value="FYSE" id="subject">First Year Seminar</a></td>
            <a class="list-group-item" value="FREN" id="subject">French</a></td>
            <a class="list-group-item" value="GSFS" id="subject">Gender, Sexuality, and Feminist Studies</a></td>
            <a class="list-group-item" value="GEOG" id="subject">Geography</a></td>
            <a class="list-group-item" value="GEOL" id="subject">Geology</a></td>
            <a class="list-group-item" value="GRMN" id="subject">German</a></td>
            <a class="list-group-item" value="GREK" id="subject">Greek</a></td>
          </div>
        </div>

        <div class=col-md-9>
          <table class=list-group-horizontal align="center">
            <tr id=req_list>
              <td class="list-group-item" value="AAL" align="center" id="requirements">AAL</td>
              <td class="list-group-item" value="EUR" align="center" id="requirements">EUR</td>
              <td class="list-group-item" value="WTR" align="center" id="requirements">WTR</td>
              <td class="list-group-item" value="ART" align="center" id="requirements">ART</td>
              <td class="list-group-item" value="HIS" align="center" id="requirements">HIS</td>
              <td class="list-group-item" value="PE" align="center" id="requirements">PE</td>
              <td class="list-group-item" value="CMP" align="center" id="requirements">CMP</td>
              <td class="list-group-item" value="LIT" align="center" id="requirements">LIT</td>
              <td class="list-group-item" value="PHL" align="center" id="requirements">PHL</td>
              <td class="list-group-item" value="CW" align="center" id="requirements">CW</td>
              <td class="list-group-item" value="LNG" align="center" id="requirements">LNG</td>
              <td class="list-group-item" value="SCI" align="center" id="requirements">SCI</td>
              <td class="list-group-item" value="DED" align="center" id="requirements">DED</td>
              <td class="list-group-item" value="NOR" align="center" id="requirements">NOR</td>
              <td class="list-group-item" value="SOC" align="center" id="requirements">SOC</td>
            </tr>
          </table>
        </div>

        <div class="results-list" id="courses" style="height: 925px; width:875px"></div>
      </div>
    </div>
  </div>
</script>
