<script type="text/template" id="search-template">

  <div class="container">

    <div class="row">
      <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">search</h1>
    </div>

    <div class="form-group">

      <div class="row">
        <div class="container col-md-6" style="padding-bottom:.35cm">
          <input type="text" placeholder="Search by keyword" class="form-control input-md" id="description">
        </div>
        <div class="container col-md-6" style="padding-bottom:.35cm">
          <input type="text" placeholder="Search by professor" class="form-control input-md" id="instructor">
        </div>
      </div>

      <div class="row">

        <div class="container col-md-6" style="padding-bottom:.35cm">
          <select class="form-control" id="loc_select" name="building">
            <option class="list-group-item" value="" id="meeting" name="building">Any Location</option>
            <option class="list-group-item" value="ADK" id="meeting" name="building">Adirondack Coltrane Lounge</option>
            <option class="list-group-item" value="ATA" id="meeting" name="building">Atwater A</option>
            <option class="list-group-item" value="ATD" id="meeting" name="building">Atwater Dining</option>
            <option class="list-group-item" value="AXN" id="meeting" name="building">Axinn Center</option>
            <option class="list-group-item" value="AXT" id="meeting" name="building">Twilight Hall</option>
            <option class="list-group-item" value="BR_LOAF" id="meeting" name="building">Bread Loaf</option>
            <option class="list-group-item" value="CHT" id="meeting" name="building">Chateau</option>
            <option class="list-group-item" value="LIB" id="meeting" name="building">Davis Family Library</option>
            <option class="list-group-item" value="FIC" id="meeting" name="building">Freeman International Center</option>
            <option class="list-group-item" value="GFD" id="meeting" name="building">Gifford</option>
            <option class="list-group-item" value="HLD" id="meeting" name="building">Franklin Environmental Center</option>
            <option class="list-group-item" value="HPB" id="meeting" name="building">Hepburn Hall</option>
            <option class="list-group-item" value="JHN" id="meeting" name="building">Johnson</option>
            <option class="list-group-item" value="KYN" id="meeting" name="building">Peterson Family Athletic Complex</option>
            <option class="list-group-item" value="LAF" id="meeting" name="building">LaForce</option>
            <option class="list-group-item" value="GFD" id="meeting" name="building">Gifford</option>
            <option class="list-group-item" value="MBH" id="meeting" name="building">McCardell Bicentennial Hall</option>
            <option class="list-group-item" value="MCA" id="meeting" name="building">Mahaney Center for the Arts</option>
            <option class="list-group-item" value="MFH" id="meeting" name="building">Memorial Field House</option>
            <option class="list-group-item" value="MNR" id="meeting" name="building">Munroe</option>
            <option class="list-group-item" value="OCH" id="meeting" name="building">Old Chapel</option>
            <option class="list-group-item" value="PRS" id="meeting" name="building">Pearsons</option>
            <option class="list-group-item" value="RAJ" id="meeting" name="building">Robert A. Jones</option>
            <option class="list-group-item" value="RCS" id="meeting" name="building">Ross Seminar Room</option>
            <option class="list-group-item" value="SDL" id="meeting" name="building">Sunderland</option>
            <option class="list-group-item" value="VFH" id="meeting" name="building">Virtue Field House</option>
            <option class="list-group-item" value="WNS" id="meeting" name="building">Warner</option>
            <option class="list-group-item" value="WTH" id="meeting" name="building">Wright Theatre</option>
          </select>
        </div>

        <div class="container col-md-6" style="padding-bottom:.35cm">
          <select class="form-control" id="subject">
            <option class="list-group-item" value="" id="subject">Any Department</a>
            <option class="list-group-item" value="AMST" id="subject">American Studies</a>
            <option class="list-group-item" value="ART" id="subject">Arts Division</a></td>
            <option class="list-group-item" value="CHNS" id="subject">Chinese</a></td>
            <option class="list-group-item" value="CLAS" id="subject">Classics</a></td>
            <option class="list-group-item" value="CMLT" id="subject">Comparative Literature</a></td>
            <option class="list-group-item" value="CSCI" id="subject">Computer Science</a></td>
            <option class="list-group-item" value="ECON" id="subject">Economics</a></td>
            <option class="list-group-item" value="EDST" id="subject">Education Studies</a></td>
            <option class="list-group-item" value="ENAM" id="subject">English and American Literatures</a></td>
            <option class="list-group-item" value="ENVS" id="subject">Environmental Studies</a></td>
            <option class="list-group-item" value="FMMC" id="subject">Film and Media Culture</a></td>
            <option class="list-group-item" value="FYSE" id="subject">First Year Seminar</a></td>
            <option class="list-group-item" value="GSFS" id="subject">Gender, Sexuality, and Feminist Studies</a></td>
            <option class="list-group-item" value="GEOG" id="subject">Geography</a></td>
            <option class="list-group-item" value="GRMN" id="subject">German</a></td>
            <option class="list-group-item" value="HARC" id="subject">History of Art & Architecture</a>
            <option class="list-group-item" value="HIST" id="subject">History</a></td>
            <option class="list-group-item" value="IGST" id="subject">International & Global Studies</a></td>
            <option class="list-group-item" value="INTD" id="subject">Interdepartmental</a></td>
            <option class="list-group-item" value="ITAL" id="subject">Italian</a></td>
            <option class="list-group-item" value="LITS" id="subject">Program in Literary Studies</a></td>
            <option class="list-group-item" value="LNGT" id="subject">Linguistics</a></td>
            <option class="list-group-item" value="MUSC" id="subject">Music</a></td>
            <option class="list-group-item" value="NSCI" id="subject">Program in Neuroscience</a></td>
            <option class="list-group-item" value="PHIL" id="subject">Philosophy</a></td>
            <option class="list-group-item" value="PHYS" id="subject">Physics</a></td>
            <option class="list-group-item" value="PSCI" id="subject">Political Science</a></td>
            <option class="list-group-item" value="PSYC" id="subject">Psychology</a></td>
            <option class="list-group-item" value="RELI" id="subject">Religion</a></td>
            <option class="list-group-item" value="RUSS" id="subject">Russian</a></td>
            <option class="list-group-item" value="SOAN" id="subject">Sociology/Anthropology</a></td>
            <option class="list-group-item" value="SPAN" id="subject">Spanish & Portuguese</a></td>
            <option class="list-group-item" value="THEA" id="subject">Theatre & Dance</a></td>
          </select>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3"><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <input type="text" class="start time form-control" id="meeting" name="start_time" placeholder="Start time: 4:30pm">
          </div></div>
        </div></div>

        <div class="col-md-3"><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <input type="text" class="end time form-control" id="meeting" name="end_time" placeholder="End time: 6:30pm">
          </div></div>
        </div></div>

        <div class="col-md-3"><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <select class="days form-control" multiple="multiple" name="days">
              <option value="Monday" id="meeting">Monday</option>
              <option value="Tuesday" id="meeting">Tuesday</option>
              <option value="Wednesday" id="meeting">Wednesday</option>
              <option value="Thursday" id="meeting">Thursday</option>
              <option value="Friday" id="meeting">Friday</option>
            </select>
          </div></div>
        </div></div>

        <div class="col-md-3"><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <select class="reqs form-control" multiple="multiple">
              <option value="AAL" id="requirements">AAL</td>
              <option value="EUR" id="requirements">EUR</td>
              <option value="WTR" id="requirements">WTR</td>
              <option value="ART" id="requirements">ART</td>
              <option value="HIS" id="requirements">HIS</td>
              <option value="PE" id="requirements">PE</td>
              <option value="CMP" id="requirements">CMP</td>
              <option value="LIT" id="requirements">LIT</td>
              <option value="PHL" id="requirements">PHL</td>
              <option value="CW" id="requirements">CW</td>
              <option value="LNG" id="requirements">LNG</td>
              <option value="SCI" id="requirements">SCI</td>
              <option value="DED" id="requirements">DED</td>
              <option value="NOR" id="requirements">NOR</td>
              <option value="SOC" id="requirements">SOC</td>
            </select>
          </div></div>
        </div></div>

      </div>

      <div class="row">
        <div class="results-list col-md-12" id="courses" style="height: 700px"></div>
      </div>

    </div>
  </div>

</script>
