<script type="text/template" id="search-template">


  <div class="container">

    <div class="row">
      <h1 class="pull-left" style="color:#333; font-weight:300; padding-bottom:.25cm">search</h1>
    </div>

    <div class="form-group">

      <div class="row" style="padding-bottom:.35cm">
        <div class="container col-md-6">
          <input type="text" placeholder="Search by keyword" class="form-control input-md" id="description">
        </div>
        <div class="container col-md-6">
          <input type="text" placeholder="Search by professor" class="form-control input-md" id="instructor">
        </div>
      </div>

      <div class="row">

        <div class="container col-md-6" style="padding-bottom:.35cm">
          <select class="form-control" id="loc_select">
            <option class="list-group-item" value="location" id="location">Any Location</option>
            <option class="list-group-item" value="ADK" id="location">Adirondack Coltrane Lounge</option>
            <option class="list-group-item" value="ATA" id="location">Atwater A</option>
            <option class="list-group-item" value="ATD" id="location">Atwater Dining</option>
            <option class="list-group-item" value="AXN" id="location">Axinn Center</option>
            <option class="list-group-item" value="AXT" id="location">Twilight Hall</option>
            <option class="list-group-item" value="BR_LOAF" id="location">Bread Loaf</option>
            <option class="list-group-item" value="CHT" id="location">Chateau</option>
            <option class="list-group-item" value="LIB" id="location">Davis Family Library</option>
            <option class="list-group-item" value="FIC" id="location">Freeman International Center</option>
            <option class="list-group-item" value="GFD" id="location">Gifford</option>
            <option class="list-group-item" value="HLD" id="location">Franklin Environmental Center</option>
            <option class="list-group-item" value="HPB" id="location">Hepburn Hall</option>
            <option class="list-group-item" value="JHN" id="location">Johnson</option>
            <option class="list-group-item" value="KYN" id="location">Peterson Family Athletic Complex</option>
            <option class="list-group-item" value="LAF" id="location">LaForce</option>
            <option class="list-group-item" value="GFD" id="location">Gifford</option>
            <option class="list-group-item" value="MBH" id="location">McCardell Bicentennial Hall</option>
            <option class="list-group-item" value="MCA" id="location">Mahaney Center for the Arts</option>
            <option class="list-group-item" value="MFH" id="location">Memorial Field House</option>
            <option class="list-group-item" value="MNR" id="location">Munroe</option>
            <option class="list-group-item" value="OCH" id="location">Old Chapel</option>
            <option class="list-group-item" value="PRS" id="location">Pearsons</option>
            <option class="list-group-item" value="RAJ" id="location">Robert A. Jones</option>
            <option class="list-group-item" value="RCS" id="location">Ross Seminar Room</option>
            <option class="list-group-item" value="SDL" id="location">Sunderland</option>
            <option class="list-group-item" value="VFH" id="location">Virtue Field House</option>
            <option class="list-group-item" value="WNS" id="location">Warner</option>
            <option class="list-group-item" value="WTH" id="location">Wright Theatre</option>
          </select>
        </div>

        <div class="container col-md-6">
          <select class="form-control" id="loc_select">
            <option class="list-group-item" value="AMST" id="subject">American Studies</a>
            <option class="list-group-item" value="ARBC" id="subject">Arabic</a></td>
            <option class="list-group-item" value="ART" id="subject">Arts Division</a></td>
            <option class="list-group-item" value="BIOL" id="subject">Biology</a></td>
            <option class="list-group-item" value="CHEM" id="subject">Chemistry and Biochemistry</a></td>
            <option class="list-group-item" value="CHNS" id="subject">Chinese</a></td>
            <option class="list-group-item" value="CLAS" id="subject">Classics</a></td>
            <option class="list-group-item" value="CMLT" id="subject">Comparative Literature</a></td>
            <option class="list-group-item" value="CSCI" id="subject">Computer Science</a></td>
            <option class="list-group-item" value="CRWR" id="subject">Creative Writing</a></td>
            <option class="list-group-item" value="DANC" id="subject">Dance</a></td>
            <option class="list-group-item" value="ECON" id="subject">Economics</a></td>
            <option class="list-group-item" value="EDST" id="subject">Education Studies</a></td>
            <option class="list-group-item" value="ENAM" id="subject">English and American Literatures</a></td>
            <option class="list-group-item" value="ENVS" id="subject">Environmental Studies</a></td>
            <option class="list-group-item" value="FMMC" id="subject">Film and Media Culture</a></td>
            <option class="list-group-item" value="FYSE" id="subject">First Year Seminar</a></td>
            <option class="list-group-item" value="FREN" id="subject">French</a></td>
            <option class="list-group-item" value="GSFS" id="subject">Gender, Sexuality, and Feminist Studies</a></td>
            <option class="list-group-item" value="GEOG" id="subject">Geography</a></td>
            <option class="list-group-item" value="GEOL" id="subject">Geology</a></td>
            <option class="list-group-item" value="GRMN" id="subject">German</a></td>
            <option class="list-group-item" value="GREK" id="subject">Greek</a></td>
          </select>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3"><h5>Start time</h5><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <input type="text" class="start time form-control" placeholder="4:30pm">
          </div></div>
        </div></div>

        <div class="col-md-3"><h5>End time</h5><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <input type="text" class="end time form-control" placeholder="6:30pm">
          </div></div>
        </div></div>

        <div class="col-md-4"><h5>Days</h5><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <select class="days form-control" multiple="multiple">
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
            </select>
          </div></div>
        </div></div>

        <div class="col-md-2"><h5>Requirements</h5><div class="form-horizontal">
          <div class="col-sm-12"><div class="form-group">
            <select class="days form-control" multiple="multiple">
              <option value="AAL" id="requirements">AAL</td>
              <option value="EUR" id="requirements">EUR</td>
              <option value="WTR" id="requirements">WTR</td>
              <option value="ART" id="requirements">ART</td>
              <option value="HIS" id="requirements">HIS</td>
              <option value="PE" id="requirements">PE</td>
              <option value="CMP" id="requirements">CMP</td>
              <option value="LIT" id="requirements">LIT</td>
              <option value="PHL" id="requirements">PHL</td>
              <option value="CW" id="requirements">CW</td>
              <option value="LNG" id="requirements">LNG</td>
              <option value="SCI" id="requirements">SCI</td>
              <option value="DED" id="requirements">DED</td>
              <option value="NOR" id="requirements">NOR</td>
              <option value="SOC" id="requirements">SOC</td>
            </select>
          </div></div>
        </div></div>

      </div>

      <div class="row" id="body">
        <div class="results-list" id="courses" style="height: 925px; width:875px"></div>
      </div>

    </div>
  </div>
</script>
