<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MiddCourses Schedule</a>
    </div>
  </div>
</nav>
